@import '../../shared';



.home{
    width: 100%;
    .container{
        @include container;
        .home-heading{
            width: 100%;
            color: $secondary;
            padding-bottom: 10px;
            .featured-title{
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    width: 50px;
                    height: 3px;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 5px;
                    background: $special;
                }
            }
        }
        .filtering-section{
            width: 100%;
            .filtering-wrapper{
                display: flex;
                justify-content: center;
                .filter{
                    cursor: pointer;
                    padding: 5px;
                    margin: 0 5px;
                    font-size: 0.7rem;
                    color: $secondary;
                    &:active{
                        opacity: 0.5;
                    }
                    &.active{
                        color: $special;
                        font-weight: bold;
                    }
                }
            }
        }
        .products-container{
            margin: 15px 0;
            display: grid;
            grid-template-columns: repeat(5,auto);
            grid-row: 250px;
            gap: 5px;
        }
        
    }
}