@import '../../shared';



.nav{
    background: $primary;
    padding: 0.8rem 0.5rem;
    user-select: none;
    .container{
        @include container;
        display: flex;
        justify-content: space-between;
        .logo-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            color: $special;
            text-transform: uppercase;
            cursor: pointer;
        }
        .nav-wrapper{
            display: flex;
            .items-wrapper{
                display: none;
                @media (min-width: 700px) {
                    display: flex;
                }
            }
            .cart-container{
                position: relative;
                .cart-dropdown{
                    position: absolute;
                    z-index: 1;
                    top: 100%;
                    right: 0;
                }
            }
        }
    }
}